@model ComicBookGallery.Models.ComicBook[]


@{
    ViewBag.Title = "Comic Books";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var comicBook in Model)
    {
        <div class= "col-md-3">
            @*Action link to enable the comic book name to be hyperlinks*@
            @*new {id = comicBook.Id } = anonymous types - no need to define class 
                when instantiating an object*@ 
             <h4>@Html.ActionLink(@comicBook.DisplayText, "Detail",
                new {id = comicBook.Id }) </h4>

            @*Make a hyperlink image*@
            <a href="@Url.Action("Detail", new {id = comicBook.Id })">
                <img src="/Images/@comicBook.CoverImageFileName"
                     alt="@comicBook.DisplayText"
                     class="img-responsive" />
            </a>
        </div>
    }


</div>

